body {
    background-color: black;
    color: white;

    font-family: monospace;
    font-size: 200%; 
    
    margin: 2.5%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title-div {
    background-color: white;
    color: black;

    line-height: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 5% 5% 2.5% 5%;
}