body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    padding: 5%;

    -webkit-user-select: none;
    user-select: none;   
}

.intro {
    position: relative;
    background-color: #4a3983;
    padding: 20px;
    border-radius: 5px 5px 40px 5px;
}

.more {
    position: absolute;
    background-color: #705dad;
    border-color: #000000;
    bottom: 0px;
    right: 0px;
}

.about {
    background-color: #4a3983;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px 5px 40px 5px;
    max-width: 200px;
    width: 100%;
    overflow-wrap: break-word;

    display: none;
}

.why {
    background-color: #4a3983;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px 5px 40px 5px;
    max-width: 200px;
    width: 100%;
    overflow-wrap: break-word;

    display: none;
}