body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 200%;
    margin: 2.5%;
}

::-webkit-scrollbar {display: none;}

.about-div {
    background-color: white;
    color: black;
    border-color: #111111;
    border-width: 5%;
    border-style: solid;
    justify-content: left;
    font-size: 75%;
    margin-top: 2%;
    padding: 0.8%;
    padding-left: 2%;
    padding-bottom: 2%;
    transition: background-color 1s ease;
    transition: color 1s ease;
    transition: border-color 1s ease;
}

.about-div:hover {
    background-color: #111111;
    color: white;
    border-color: white;
}

.return-div {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    padding: 2.5% 2.5% 1.5% 2.5%;
    border-radius: 15%;
}

.title {
    font-size: 200%;
    font-weight: bold;
}

.subtitle {font-size: 75%;}

.break {
    height: 0;
    flex-basis: 100%;
    margin-top: 1%;
}

.left {margin-right: auto;}

.center {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(255, 255, 255);
    font-size: 75%;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    margin: -5% 0% 0% 0%;
    grid-template-areas: "about contacts projects something blank";
    grid-template-columns: repeat(4, 1fr) 6fr;
}

.nav-item {
    display: flex;
    justify-content: center;
    background-color: #DDD;
    border-color: #777;
    border-style: solid; 
    border-width: 5%;
    margin-right: 2%;
    border-radius: 5%;
}

.about {grid-area: about;}
.contacts {grid-area: contacts;}
.projects {grid-area: projects;}
.something {grid-area: something;}

.current {
    background-color: #222;
    color: #FFF;
    border-color: #DDD;
}