body {
    background-color: black;
    color: white;

    font-size: 125%;
}

.return-div {
    position: absolute;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    border-style: solid;
    border-color: #DDD;
    border-width: 5%;

    justify-content: center;
    align-items: center;

    padding: 50px;
    border-radius: 15px;
}

.left {margin-right: auto;}

.center {
    display: inline-block;
    text-align: center;
}

.center-parent {
    text-align: center;
}

.title {
    font-size: 200%;
    font-weight: bold;
}

.subtitle {
    font-size: 100%;
}

.main-div {
    background-color: white;
    color: black;

    width: fit-content;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #444;
    padding: 0px 10px;
}

.form-div {
    background-color: #151515;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #fff;

    padding: 30px;

    transition: background-color 2s ease;
    transition: color 2s ease;
    transition: border-color 2s ease;

    margin-top: 20px;
}

input {
    margin: 5px;
}